
  .logoish{
    font-family: Baristo;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
  }

  .mons{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .monsa{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
  }

  ion-button{
    text-align: center;
    padding-left: 25%;
  }
