
<ion-content>

  <swiper-container>

   <swiper-slide>
     <h1 class="title1">NAME FOR FOOD RELATED SOCIAL MEDIA GOES HERE (FOODRUMS?) (FOODZ NETZ??) </h1>
     <ion-icon name="fast-food-outline"></ion-icon>
     <p>Lorem Ipsum goes here (wow)</p>
   </swiper-slide>

   <swiper-slide>
     <h1>Hola Slide 2</h1>
     <ion-icon name="accessibility-outline"></ion-icon>
     <p>Hola soy el slide dos de la libreria de swiper</p>
   </swiper-slide>

   <swiper-slide>
    <h1>Hola Slide 3</h1>
    <ion-icon name="accessibility-outline"></ion-icon>
    <p>Hola soy el slide tres de la libreria de swiper</p>
  </swiper-slide>

   <swiper-slide>
     <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
     <h1>Hola Slide 4</h1>
     <ion-icon name="flower-outline"></ion-icon>
     <p>Hola soy el slide cuatro de la libreria de swiper</p>
     <ion-button (click)="finish()">Intro Check Done</ion-button>
   </swiper-slide>

  </swiper-container> 
  
 </ion-content>
 <!--Implementemos 4 o mas slides con ya formato y diseño enfocado en la aplicacion--> 