
<ion-content>

  <swiper-container class="baristo">

   <swiper-slide class="bg">
    <div>
      <br>
     <h1 class="logoish">Bubble </h1>
     <img class ="imag" src="https://media.istockphoto.com/id/1290168930/vector/bubbles-vector-line-icon-cartoon-soap-foam-bath-suds-effervescent-water-soda-or-champagne.jpg?s=612x612&w=0&k=20&c=cHsQC7g6PqbkAu8VVjN2_Nt8sP_DUVRKJEyLz-o-078=">
     <p></p>
     <p>Donde tus posts vuelan  por el cielo cual burbujas</p>
    </div>
   </swiper-slide>

   <swiper-slide class="bg">
    <div>
      <br>
     <h1 class="logoish" >Bubble</h1>
     <p></p>
     <img class ="imagi" src="https://clipart-library.com/images/di4oMK9LT.png">
     <p></p>
     <p>En donde puedes ver a otras personas mostrar sus intereses</p>
    </div>
   </swiper-slide>

   <swiper-slide class="bg">
    <div>
      <br>
     <h1 class="logoish" >Bubble</h1>
     <p></p>
     <img class ="imag" src="https://courses.uchicago.edu/files/2019/11/feedback-smallcanvas-1080x675.png">
     <p></p>
     <p>Interactua con miembros de nuestra gran comunidad</p>
    </div>
  </swiper-slide>

   <swiper-slide class="bg">
    <div>
     <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
     <h1 class="logoish" >Bubble</h1>
     <p></p>
     <img class ="imagi" src="https://www.shutterstock.com/image-vector/vector-butterfly-outline-silhouette-black-600nw-2025919112.jpg">
     <p></p>
     <p>Presiona el simbolo de X para iniciar sesion o registrarte</p>
    </div>
   </swiper-slide>

  </swiper-container> 
  
 </ion-content>
 <!--Implementemos 4 o mas slides con ya formato y diseño enfocado en la aplicacion--> 