<ion-split-pane>
  <ion-menu contentId="content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="logoish">Bubble</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="closeMenu()">
            <ion-icon name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <!--Contenido de Menu-->
      <ion-item class="logois" (click)="go_home()" (click)="closeMenu()">
        <ion-icon name="home-outline"></ion-icon> Feed
      </ion-item>
      <ion-item class="logois" (click)="go_account()" (click)="closeMenu()">
        <ion-icon name="person-outline"></ion-icon> Perfil
       </ion-item>
       <ion-item  class="logois" (click)="go_search()" (click)="closeMenu()">
        <ion-icon name="person-add-outline"></ion-icon> Buscar Usuarios
       </ion-item>
      <ion-item  class="logois" (click)="log_out()">
        <ion-icon name="log-out-outline"></ion-icon> Cerrar Sesion
      </ion-item>

    </ion-content>
  </ion-menu>
 <ion-router-outlet id="content"></ion-router-outlet> 
</ion-split-pane>