ion-icon{
    padding-right: 5%;
}

div{
    padding-top: 5%;
    padding-left: 35%;
    padding-right: 25%;
}

ion-avatar{
    width:100% ;  
    height : 100% ;  
    max-width: 100px ; 
    max-height: 100px ;
}
p{
    text-align: center;
}


.logoish{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-align: center;
  }

  .mons{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  .monst{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 25%;
  }
  

  .monsa{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding: 10%;
    
  }