.logoish{
    font-family: Baristo;
    font-size: xx-large;
    font-style: italic;
    padding-left: 25%;
  }

  .mons{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }