.logoish{
    font-family: Baristo;
    font-size: xx-large;
    font-style: italic;
    padding-left: 25%;
}


.mons{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
  }

  div{
    padding-top: 5%;
    padding-left: 35%;
    padding-right: 25%;
}

ion-avatar{
    width:100% ;  
    height : 100% ;  
    max-width: 100px ; 
    max-height: 100px ;
}

 th {

    padding-left: 50px;
  }

  td {
    padding-top: 5px;
    padding-left: 50px;
  }

